*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
  
  }

  body{
 background-color:gray;
  
  }


    
 
.shopsy
{
  
    height: 240px;
    background-size: cover;
    position: relative;
    left: -100px;
    top: 10px;
    
}

.topleft{
 
    width: 260px;
    position: relative;
    left: 90%;
    top: -160px;
    border: 2px solid black;
}

#Dstyle{
 text-decoration: none;
 font-size: 20px;
 color: black;
 
 
}

 
.discount{
   
    position: relative;
    top: 43px;
    left: 150px;
    width: fit-content;
}
 #writing
 {
font-family: 'Courier New', Courier,;
font-size: 300%;

 }

 .listofitem{
   
    position: relative;
    top: 90px;
    left: 150px;
 }

 #list{
    font-size: 200%;
    width: fit-content;
 }

 .playstore{
    height: 60px;
    position: relative;
    top: 140px;
    left: 190px;
 }

 .apple{
    height: 60px;
    position: relative;
    top: 140px;
    left: 190px;
   
 }

 /*part 2 */

 .contanier1
 {
   /* background-color: yellow; */
    height: fit-content;
    position:relative;
    top: 300px;
    text-align: center;
 }
 .img1{
    height: 900px;
    position: relative;
    top: -100px;
 }

.img2{
    height: 900px;
    position: relative;
    top: -100px;
}

.img3{
    height: 900px;
    position: relative;
    top:-100px;
}
.img4{
    height: 900px;
    position: relative;
    top:-100px;
}

/* part 3 */

.GETSHOPSY{
    text-align: center;
   color: #f1e7e7;
   position: relative;
   top: 400px;
  
   
   
}

.WHYSHOPSY
{   
    color: whitesmoke;
    position: relative;
    top: 600px;
   text-align: center;
   font-size: 50px;
    
    
}
/* 
part4 */

.contanier2{
    height: 600px;
    position: relative;
    top: 600px;
    text-align: center;
    

}

.img5{
    height: 500px;
}

.img6{
    height: 500px;
}
.img7
{
    height: 500px;
}

/* footer */

.contaner3
{
    background-color: white;
    position: relative;
    top: 700px;
    height: 400px;
}